In [57]:
from ib_insync import *
util.startLoop()
ib = IB()
ib.connect('localhost')

In [58]:
from typing import List, Optional
import jax.numpy as jnp

In [73]:
from jax import Array


class stock:

    def __init__(self, stock: str, exchange: str, currency: str) -> None:
        self.contract = Stock(stock, exchange, currency)
        pass

    def historial(self, endDateTime, durationStr, barSize, whatToShow, useRTH) -> Array:
        return jnp.array([
        (
        item.date.timestamp(),
        item.open,
        item.high,
        item.low,
        item.close,
        item.volume,
        item.average,
        item.barCount
        )
        for item in ib.reqHistoricalData(
        self.contract,
        endDateTime,
        durationStr,
        barSize,
        whatToShow,
        useRTH)
        ], dtype='float32')

In [74]:
appl = stock('AAPL', 'SMART', 'USD')
amd = stock('AMD', 'SMART', 'USD')
applBars = appl.historial('', '3 D', '15 mins', 'MIDPOINT' , False)
print(applBars[:2])

[[ 1.7012484e+09  1.9025000e+02  1.9025000e+02  1.8970000e+02
   1.8989000e+02 -1.0000000e+00 -1.0000000e+00 -1.0000000e+00]
 [ 1.7012493e+09  1.8989000e+02  1.9020000e+02  1.8983000e+02
   1.9019000e+02 -1.0000000e+00 -1.0000000e+00 -1.0000000e+00]]

Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IBKR and Trader Workstation has been restored - data maintained. All data farms are connected: usfarm.nj; eufarm; usfarm; euhmds; cashhmds; fundfarm; ushmds; secdefnj.

In [27]:
applBars

Array([[ 1.7012484e+09,  1.9025000e+02,  1.9025000e+02, ...,
        -1.0000000e+00, -1.0000000e+00, -1.0000000e+00],
       [ 1.7012493e+09,  1.8989000e+02,  1.9020000e+02, ...,
        -1.0000000e+00, -1.0000000e+00, -1.0000000e+00],
       [ 1.7012502e+09,  1.9019000e+02,  1.9027000e+02, ...,
        -1.0000000e+00, -1.0000000e+00, -1.0000000e+00],
       ...,
       [ 1.7014761e+09,  1.9128000e+02,  1.9128999e+02, ...,
        -1.0000000e+00, -1.0000000e+00, -1.0000000e+00],
       [ 1.7014770e+09,  1.9128999e+02,  1.9130000e+02, ...,
        -1.0000000e+00, -1.0000000e+00, -1.0000000e+00],
       [ 1.7014779e+09,  1.9128999e+02,  1.9133000e+02, ...,
        -1.0000000e+00, -1.0000000e+00, -1.0000000e+00]], dtype=float32)

In [31]:
import pandas as pd

In [50]:
applPD = pd.DataFrame(applBars)
applPD.head()

              0           1           2           3           4    5    6    7
0  1.701248e+09  190.250000  190.250000  189.699997  189.889999 -1.0 -1.0 -1.0
1  1.701249e+09  189.889999  190.199997  189.830002  190.190002 -1.0 -1.0 -1.0
2  1.701250e+09  190.190002  190.270004  190.100006  190.119995 -1.0 -1.0 -1.0
3  1.701251e+09  190.119995  190.339996  190.119995  190.289993 -1.0 -1.0 -1.0
4  1.701252e+09  190.289993  190.380005  190.279999  190.339996 -1.0 -1.0 -1.0

In [51]:
applPD[0] = applPD[0].apply(lambda x: pd.to_datetime(x , unit='s'))

,0,1,2,3,4,5,6,7
0,2023-11-29 08:59:44,190.250000,190.250000,189.699997,189.889999,-1.0,-1.0,-1.0
1,2023-11-29 09:14:40,189.889999,190.199997,189.830002,190.190002,-1.0,-1.0,-1.0
2,2023-11-29 09:29:36,190.190002,190.270004,190.100006,190.119995,-1.0,-1.0,-1.0
3,2023-11-29 09:44:32,190.119995,190.339996,190.119995,190.289993,-1.0,-1.0,-1.0
4,2023-11-29 09:59:28,190.289993,190.380005,190.279999,190.339996,-1.0,-1.0,-1.0

In [53]:
applPD.tail()

,0,1,2,3,4,5,6,7
187,2023-12-01 23:45:04,191.279999,191.279999,191.240005,191.240005,-1.0,-1.0,-1.0
188,2023-12-02 00:00:00,191.240005,191.289993,191.240005,191.279999,-1.0,-1.0,-1.0
189,2023-12-02 00:14:56,191.279999,191.289993,191.279999,191.289993,-1.0,-1.0,-1.0
190,2023-12-02 00:29:52,191.289993,191.300003,191.279999,191.289993,-1.0,-1.0,-1.0
191,2023-12-02 00:44:48,191.289993,191.330002,191.259995,191.309998,-1.0,-1.0,-1.0